@model TriChem.AdminPanel.Models.Result<TriChem.Models.Category.ViewModels.CategoryDetailsVM>

@{
    ViewBag.Title = "Details";
}

<div class="flex-between py-5">
  <h2 class="text-white m-0">Category Details</h2>
  <div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning py-3" })
    &nbsp;&nbsp;
    @Html.ActionLink("Edit", "Edit", new { id = Model.Entity.Id }, new { @class = "btn btn-primary py-3" })
  </div>
</div>

@{
    if (Model.Success)
    {
        <div class="box-shadow bg-white b-6 p-5">
            <dl class="dl-horizontal">
                <dt class="py-2">
                    @Html.DisplayNameFor(model => model.Entity.Title)
                </dt>

                <dd class="py-2">
                    @Html.DisplayFor(model => model.Entity.Title)
                </dd>

                <dt class="py-2">
                    @Html.DisplayNameFor(model => model.Entity.Title_Ar)
                </dt>

                <dd class="py-2">
                    @Html.DisplayFor(model => model.Entity.Title_Ar)
                </dd>

                <dt class="py-2">
                    @Html.DisplayNameFor(model => model.Entity.Description)
                </dt>

                <dd class="py-2">
                    @Html.DisplayFor(model => model.Entity.Description)
                </dd>

                <dt class="py-2">
                    @Html.DisplayNameFor(model => model.Entity.Description_Ar)
                </dt>

                <dd class="py-2">
                    @Html.DisplayFor(model => model.Entity.Description_Ar)
                </dd>

                <dt class="py-2">
                    @Html.DisplayNameFor(model => model.Entity.ImageURLs)
                </dt>

                <dd class="py-2">
                    @foreach (var item in Model.Entity.ImageURLs)
                    {
                        if (!string.IsNullOrEmpty(item))
                        {
                            var path = item.Substring(item.IndexOf('-'));
                            <img src="@Url.Content(path.Substring(path.IndexOf('/')))" style="width: 150px" />
                        }
                    }
                </dd>

            </dl>
        </div>

    }
    else
    {
        <div class="jumbotron alert-danger">
            <div class="lead">@Model.Message</div>
        </div>
    }
}
